body{
    background: darkturquoise;
}
img{
    height: 120px;
}
.profile{
    display: inline-grid;
    border: 5px solid darkblue;
    padding: 15px;
    line-height: 0em;
    margin: 10rem;
    width: 160px;
    background: navajowhite;
    border-radius: 10px;
    box-shadow: -4px 5px dodgerblue;
}
.name{
    font-size: x-large;
    opacity: 1.25;
}
h4{
    font-size: x-small;
    opacity: 0.5;
}
